<?xml version="1.0"?>
<!--
/**
 *
 *
 *
 * @category    Parassood
 * @package     Parassood_Commentmarker
 * @copyright   Paras Sood
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Parassood_Commentmarker>
            <version>0.0.1</version>
        </Parassood_Commentmarker>
    </modules>
    <global>
            <models>
                <commentmarker>
                    <class>Parassood_Commentmarker_Model</class>
                </commentmarker>
                <sales>
                    <rewrite>
                        <order_invoice_comment>Parassood_Commentmarker_Model_Order_Invoice_Comment</order_invoice_comment>
                    </rewrite>
                    <rewrite>
                        <order_shipment_comment>Parassood_Commentmarker_Model_Order_Shipment_Comment</order_shipment_comment>
                    </rewrite>
                    <rewrite>
                        <order_creditmemo_comment>Parassood_Commentmarker_Model_Order_Creditmemo_Comment</order_creditmemo_comment>
                    </rewrite>
                </sales>
            </models>
        <resources>
            <commentmarker_setup>
                <setup>
                    <module>Parassood_Commentmarker</module>
                    <class> Mage_Core_Model_Resource_Setup</class>
                </setup>
            </commentmarker_setup>
        </resources>
     </global>
    <adminhtml>
        <events>
            <sales_order_status_history_save_before>
                <observers>
                    <admin_comment_marker>
                        <type>singleton</type>
                        <class>commentmarker/observer</class>
                        <method>addAdminNameToOrderComment</method>
                    </admin_comment_marker>
                </observers>
            </sales_order_status_history_save_before>
        </events>
    </adminhtml>
    <stores>
        <admin>
            <design>
                <theme>
                    <template>custom</template>
                </theme>
            </design>
        </admin>
    </stores>
</config>
