<?xml version="1.0"?>
<!--
/**
 *
 *
 *
 * @category    Parassood
 * @package     Parassood_Commentmarker
 * @copyright   Paras Sood
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Parassood_Commentmarker>
            <version>0.0.1</version>
        </Parassood_Commentmarker>
    </modules>
    <global>
            <models>
                <sales>
                    <rewrite>
                        <order>Parassood_Commentmarker_Model_Order</order>
                    </rewrite>
                    <rewrite>
                        <order_invoice>Parassood_Commentmarker_Model_Order_Invoice</order_invoice>
                    </rewrite>
                    <rewrite>
                        <order_shipment>Parassood_Commentmarker_Model_Order_Shipment</order_shipment>
                    </rewrite>
                    <rewrite>
                        <order_creditmemo>Parassood_Commentmarker_Model_Order_Creditmemo</order_creditmemo>
                    </rewrite>
                </sales>
            </models>
        <resources>
            <commentmarker_setup>
                <setup>
                    <module>Parassood_Commentmarker</module>
                    <class> Mage_Core_Model_Resource_Setup</class>
                </setup>
            </commentmarker_setup>
        </resources>
     </global>
    <adminhtml>

    </adminhtml>
    <stores>
        <admin>
            <design>
                <theme>
                    <template>custom</template>
                </theme>
            </design>
        </admin>
    </stores>
</config>
